body {
  font-family: system-ui, sans-serif;
  background-color: #fffbea;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contenedor {
  text-align: center;
  width: 90%;
  max-width: 400px;
  background-color: #ffeb60;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}

.tituloC {
  font-family: 'Anton', sans-serif;
  font-size: 50px;   
  text-transform: uppercase;
  color: #222;
  text-align: center;
  position: relative;
  text-shadow: 3px 3px 0px #000, 
   6px 6px 0px #343333;   
}

.formulario {
  margin-top: 15px;
}

.nobotones {
  font-size: 16px;
  color: #444;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: cursive;
  

}

input {
  width: 96%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #ffba00;
  box-shadow: 0 0 5px rgba(255, 186, 0, 0.5);
}

.fila {
  display: flex;
  gap: 12px;
}

.fila input {
  width: 50%;
}

.botonA {
  width: 100%;
  padding: 12px;
  background-color: #fadbe4;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.botonA:hover {
  background-color: hwb(326 60% 2%);
  transform: scale(1.03);
}

footer {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}

.link {
  color: #222;
  text-decoration: none;
  font-family: cursive;
}

.link:hover {
  text-decoration: underline;
}
.botonS{
  width: 100%;
  padding: 12px;
  background-color: #fadbe4;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.botonS:hover{

 background-color: hwb(326 60% 2%);
  transform: scale(1.03);
}
.pagina{
  font-family: cursive;
}
